<%= link_to t("buttons.new"), new_room_spot_path(@room), class: "bg-light-gray/75 p-4 rounded shadow mb-4" %>
<div class="w-full max-w-md mx-auto bg-light-gray/40 p-6 rounded-lg shadow-lg mt-12">
  <% if @visited.present? %>
      <h2 class="text-xl text-matcha-green font-bold"><%= t("views.spot.visited_list") %></h2>
      <% @visited.each do |spot| %>
          <div class="bg-light-gray/75 p-4 rounded shadow mb-4">
            <div class="text-matcha font-bold">
              <% if current_user == spot.user %>
                <%= link_to spot.name, edit_room_spot_path(@room, spot) %>
              <% else %>
                <%= link_to spot.name, room_spot_path(@room, spot) %>
              <% end %>
            </div>
              <i class="fa-solid fa-location-pin text-red-500"></i><%= spot.address %>
              <i class="fa-solid fa-user text-blue"></i><%= spot.user.name %>
          </div>
      <% end %>
  <% else %>
      <h2><i class="fa-solid fa-location-pin text-red-500"></i><%= t("views.spot.none_visited") %></h2>
  <% end %>

  <% if @wanna_visit.present? %>
      <h2 class="text-xl text-matcha-green font-bold"><%= t("views.spot.visit_list") %></h2>
      <% @wanna_visit.each do |spot| %>
          <div class="bg-light-gray/75 p-4 rounded shadow mb-4">
            <div class="text-matcha font-bold">
              <% if current_user == spot.user %>
                <%= link_to spot.name, edit_room_spot_path(@room, spot) %>
              <% else %>
                <%= link_to spot.name, room_spot_path(@room, spot) %>
              <% end %>
            </div>
              <i class="fa-solid fa-location-pin text-red-500"></i><%= spot.address %>
              <i class="fa-solid fa-user text-blue"></i><%= spot.user.name %>
          </div>
      <% end %>
  <% else %>
      <h2><i class="fa-solid fa-location-pin text-red-500"></i> <%= t("views.spot.none_visit") %></h2>
  <% end %>
</div>
<%= link_to t("views.room.back_to_room", room_name: @room.name), room_path(@room), class: "bg-brown/30 p-2 rounded shadow mb-2 mt-4 text-brown font-bold hover:bg-brown/70 transition", data: { turbo: false } %>