<% if @visited.present? %>
    <h2>visited一覧</h2>
    <% @visited.each do |spot| %>
        <div class="flex">
          <% if current_user == spot.user %>
            <%= link_to spot.name, edit_room_spot_path(@room, spot) %>
          <% else %>
            <%= link_to spot.name, room_spot_path(@room, spot) %>
          <% end %>
            <%= spot.address %>
            <%= l(spot.created_at, format: :short) %>
            <%= spot.visit_status %>
            <%= spot.user.name %>
        </div>
    <% end %>
<% else %>
    <h2>visitedの登録場所はありません</h2>
<% end %>

<% if @wanna_visit.present? %>
    <h2>wanna_visit一覧</h2>
    <% @wanna_visit.each do |spot| %>
        <div class="flex">
          <% if current_user == spot.user %>
            <%= link_to spot.name, edit_room_spot_path(@room, spot) %>
          <% else %>
            <%= link_to spot.name, room_spot_path(@room, spot) %>
          <% end %>
            <%= spot.address %>
            <%= l(spot.created_at, format: :short) %>
            <%= spot.visit_status %>
            <%= spot.user.name %>
        </div>
    <% end %>
<% else %>
    <h2> wanna_visitの登録場所はありません</h2>
<% end %>

<%= link_to "新規登録", new_room_spot_path(@room) %>