<% content_for(:spot, @spot.name) %>

<div class="container pt-5">
    <div class="flex justify-center mb-3">
    <div class="w-full max-w-2xl">
        <div class="bg-light-gray/50 rounded-lg shadow-md">
        <div class="p-6">
            <div class="flex justify-between items-center mb-4">
            <h3 class="text-2xl font-semibold text-green-600"><%= @spot.name %></h3>

                <p class="text-sm text-gray-700">
                <strong><%= t("views.spot.registered") %>:</strong> <%= l(@spot.created_at, format: :long) %><br>
                <strong><%= t("views.spot.address") %>:</strong> <%= @spot.address %><br>
                <strong><i class="fa-solid fa-user text-blue"></i>:</strong> <%= @spot.user.name %>
                </p>
                <% if @spot.date.present? %>
                  <i class="fa-solid fa-calendar-days text-matcha-green"></i><%= @spot.date.strftime("%Y-%m-%d") %>
                <% end %>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>

<div id="map" style="height: 400px; width: 100%; margin-top: 2rem;"></div>

<script>
  const lat = <%= @spot.latitude.to_f %>;
  const lng = <%= @spot.longitude.to_f %>;
  let map;

  function initMap() {
    map = new google.maps.Map(document.getElementById("map"), {
      center: { lat: lat, lng: lng },
      zoom: 12,
      mapTypeId: "hybrid",
      mapId: "<%= ENV['MAP_ID'] %>",
    });

    const marker = new google.maps.marker.AdvancedMarkerElement({
      map: map,
      position: {
        lat: lat,
        lng: lng
      }
    });

    const geocoder = new google.maps.Geocoder();
    const latLng = new google.maps.LatLng(lat, lng);
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API'] %>&callback=initMap&libraries=marker&v=weekly&loading=async" async defer></script>

<%= link_to t("buttons.back"), room_spots_path(@room), class: "bg-light-gray/75 p-4 rounded shadow mb-4"%>