<div class="gap-6">
  <div class="bg-light-gray/75 p-4 my-4 rounded shadow text-dark-gray">
    <p class="mt-2 text-gray"><%= t("views.diary.count", number: @diary_order.index(diary.id) + 1) %></p>
    <div class="text-sm"><%= diary.created_at.strftime("%y/%m/%d") %></div>
    <% if diary.user == current_user %>
      <div
        data-controller="diary"
        data-diary-room-id-value="<%= @room.id %>"
        data-diary-diary-id-value="<%= diary.id %>"
        data-diary-target="diary"
        data-action="input->diary#save"
        contenteditable="true"
        class="min-h-[100px] whitespace-pre-wrap focus:outline-none rounded p-2 bg-beige"
      >
        <%= h(diary.body) %>
      </div>

      <div class="flex justify-end mt-2 gap-x-2">
        <div class="text-sm"><%= diary.user.name %></div>
        <div>
          <%= link_to '<i class="fa-solid fa-eraser text-xl"></i>'.html_safe, room_exchange_diary_path(@room, diary), data: { turbo_method: :delete, turbo_confirm: "本当に日記を削除しますか？" } %>
        </div>
      </div>
    <% else %>
      <p class="mt-2"><%= diary.body %></p>
      <div class="text-right mt-2 text-sm"><%= diary.user.name %></div>
    <% end %>
  </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", () => {
    const button = document.getElementById("show-form-button");
    const form = document.getElementById("diary-form");

    if (button && form) {
        button.addEventListener("click", (e) => {
        e.preventDefault();
        form.classList.remove("hidden");
        button.classList.add("hidden");
        });
    }
    });
</script>