<div class="flex text-beige text-xl font-bold rounded-lg shadow-md p-4 bg-[url('/room.jpg')] bg-cover bg-center mt-6">
  <% if @roommates.present? %>
    <% @roommates.each do |roommate| %>
      <%= roommate.name %> 
    <% end %>
    <h1><i class="fa-solid fa-book"></i> <%= t("views.diary.name") %></h1>
  <% else %>
    <%= current_user.name %> 
    <h1><i class="fa-solid fa-book"></i> <%= t("views.diary.name") %></h1>
  <% end %>
</div>
<div class="container mx-auto px-4">
  <div class="max-w-xl mx-auto">
  <% if @exchange_diaries.present? %>
    <% @exchange_diaries.each do |diary| %>
      <%= render partial: 'exchange_diary', locals: { diary: diary } %>
    <% end %>
  <% else %>
    <%= render 'form' %>
  <% end %>

    <div class="text-center mt-4">
      <%= button_to room_exchange_diaries_path(@room), method: :post, id: "show-form-button" do %>
        <span class="bg-blue/75 p-2 rounded shadow mb-4 hover:bg-blue-30 transition text-dark-gray"><%= t("buttons.add") %></span>
      <% end %>
    </div>

    <div id="diary-form" class="hidden mt-4">
      <%= render 'form' %>
    </div>
  </div>
  <div class="text-center text-md font-bold text-matcha">
    <%= paginate @exchange_diaries %>
  </div>
</div>
<%= link_to t("views.room.back_to_room", room_name: @room.name), room_path(@room), class: "bg-brown/30 p-2 rounded shadow mb-2 mt-4 text-brown font-bold hover:bg-brown/70 transition", data: { turbo: false } %>
