<div class="container fixed top-[80px] left-1/2 transform -translate-x-1/2 z-50 p-4">
  <div class="flex justify-center">
    <div class="w-full max-w-lg">
      <h1 class="text-2xl text-matcha font-bold mb-6">新規登録</h1> 
      <%= form_with model: resource, url: registration_path(resource_name), local: true do |f| %>
        <%= render "devise/registrations/shared/error_messages", resource: resource %>
        <div>
          <%= f.label :name, class: "block text-sm font-medium text-matcha" %>
          <%= f.text_field :name, class: "bg-matcha/20 mt-1 mb-6 block w-full px-3 py-2 border border-matcha rounded-md shadow-sm focus:outline-none focus:ring-matcha focus:border-matcha text-matcha" %>
        </div>
        <div>
          <%= f.label :email, class: "block text-sm font-medium text-matcha" %>
          <%= f.email_field :email, class: "bg-matcha/20 mt-1 mb-6 block w-full px-3 py-2 border border-matcha rounded-md shadow-sm focus:outline-none focus:ring-matcha focus:border-matcha text-matcha" %>
        </div>
        <div>
          <%= f.label :password, class: "block text-sm font-medium text-matcha" %>
          <%= f.password_field :password, class: "bg-matcha/20 mt-1 mb-6 block w-full px-3 py-2 border border-matcha rounded-md shadow-sm focus:outline-none focus:ring-matcha focus:border-matcha text-matcha" %>
        </div>
        <div>
          <%= f.label :password_confirmation, class: "block text-sm font-medium text-matcha" %>
          <%= f.password_field :password_confirmation, class: "bg-matcha/20 mt-1 mb-6 block w-full px-3 py-2 border border-matcha rounded-md shadow-sm focus:outline-none focus:ring-matcha focus:border-matcha text-matcha" %>
        </div>
        <%= f.submit '新規登録', class: "w-full mb-6 bg-matcha/75 hover:bg-blue/75 text-white font-bold py-2 px-4 rounded-md shadow-md transition",
        id: "blue-door" %>
      <% end %>
      <%= link_to 'ログインはこちら', new_user_session_path, class: "text-matcha" %>
    </div>
  </div>
</div>

<div class="relative w-full h-[calc(100vh-112px)] overflow-hidden">
  <canvas id="three-canvas" class="w-full h-full block"></canvas>
</div>

<%= javascript_include_tag "door2" %>