<div class="w-full max-w-3xl bg-light-gray/40 p-6 rounded-lg shadow-lg mb-6">
  <div id="comment-form">
    <%= form_with model: [@room, @spot, @comment], local: true do |f| %>
      <% if comment.errors.any? %>
        <div class="bg-beige/30 text-matcha/75 font-bold mb-4">
          <ul class="list-disc pl-5">
            <% comment.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.label :body, t("views.spot.comment.add"), class: "block font-medium text-dark-gray mb-1" %>
      <%= f.text_area :body, class: "w-full h-40 px-4 py-3 bg-beige/75 text-matcha rounded-lg focus:outline-none focus:ring-2 focus:ring-matcha mb-4", placeholder: t("views.spot.comment.enter") %>
      <div class="text-center">
        <%= f.submit t("buttons.add"), class: "bg-blue/75 px-4 py-2 rounded shadow hover:bg-blue-30 transition text-dark-gray", data: { turbo: false } %>
      </div>
    <% end %>
  </div>
</div>