<h1 class="text-matcha-green text-xl font-bold mt-6"><%= t("views.state_calendar.calendar_name", name: @room.name) %></h1>
<% unless @today_state.present? %>
  <%= link_to t("views.state_calendar.today_state", date: Time.current.strftime("%Y/%m/%d")), new_room_state_calendar_path(@room), class: "bg-gray p-4 rounded shadow mb-4 mt-2 hover:bg-blue/75 transition text-beige" %>
<% end %>
<h1 class="text-dark-gray"><%= t("views.state_calendar.note1",name: current_user.name ) %></h1>
<h1 class="text-dark-gray"><%= t("views.state_calendar.note2" ) %></h1>
<% @calendar_users.each do |user| %>
  <% user_is_current = user == current_user %>
  <% user_calendars = @calendars_by_user[user.id] || [] %>
  <div class="user-calendar mb-8 p-4 border rounded <%= user_is_current ? 'border-bright-blue' : 'border-gray' %>">
    <h3 class="font-semibold mb-2 <%= user_is_current ? 'text-bright-blue' : 'text-gray' %>">
      <i class="fa-solid fa-user"></i><%= t("views.state_calendar.calendar_user", name:user.name) %>
    </h3>
    <% if user_calendars.empty? && user_is_current %>
      <%= month_calendar(events: [], attribute: :calendar_date) do |date, _| %>
        <%= link_to date.day, new_room_state_calendar_path(@room, date: date), class: "block w-full h-full text-center" %>
      <% end %>

    <% else %>
      <%= month_calendar(events: user_calendars, attribute: :calendar_date) do |date, states_on_day| %>
        <% if user_is_current %>
          <% if states_on_day.present? %>
            <% state_calendar = states_on_day.first %>
            <%= link_to date.day, edit_room_state_calendar_path(@room, state_calendar, date: date), class: "block w-full h-full text-center" %>
          <% else %>
            <%= link_to date.day, new_room_state_calendar_path(@room, date: date), class: "block w-full h-full text-center" %>
          <% end %>
        <% else %>
          <% if states_on_day.present? %>
            <% state_calendar = states_on_day.first %>
            <%= link_to date.day, room_state_calendar_path(@room, state_calendar), class: "block w-full h-full text-center text-gray-600 underline" %>
          <% else %>
            <span class="block w-full h-full text-center text-gray-400"><%= date.day %></span>
          <% end %>
        <% end %>

        <% states_on_day.each do |state| %>
          <div class="text-xs leading-tight text-center">
            <span class="inline-block px-0.5 py-0.5 rounded bg-yellow"><%= state.mental_state %></span>
            <span class="inline-block px-0.5 py-0.5 rounded bg-light-blue/30"><%= state.physical_state %></span>
          </div>
        <% end %>

      <% end %>
    <% end %>
  </div>
<% end %>
<div class="flex justify-center">
  <%= link_to t("views.room.back_to_room", room_name: @room.name), room_path(@room), class: "bg-brown/30 p-2 rounded shadow mb-2 mt-4 text-brown font-bold hover:bg-brown/70 transition", data: { turbo: false } %>
</div>