<%= link_to "一覧へもどる", room_state_calendars_path(@room) %>

<%= form_with model: [@room, @state_calendar], local: true do |f| %>
  <%= f.date_field :date, value: @state_calendar.date || Date.current %>
    <%= render 'form', f: f %>
  <div class="flex">
    <%= f.submit "保存", style: "padding: 10px 20px; background-color: #ccc;" %>
  </div>
<% end %>

