<%= link_to "一覧へ戻る", room_state_calendars_path(@room), class: "bg-light-gray/75 p-4 rounded shadow mb-4" %>

<%= form_with model: [@room, @state_calendar], local: true do |f| %>
  <%= f.date_field :date, value: @state_calendar.date || Date.current %>
    <%= render 'form', f: f %>
  <div class="flex">
    <%= f.submit "保存", class: "bg-light-blue/75 text-dark-gray py-2 px-6 rounded hover:bg-light-blue transition duration-200, data: { turbo: false }" %>
  </div>
<% end %>

