<%= link_to "カレンダーへ戻る", room_state_calendars_path(@room), class: "bg-light-gray/75 p-4 rounded shadow mb-4" %>

<%= form_with model: [@room, @state_calendar], local: true, class: "max-w-md mx-auto p-6 bg-light-gray/50 rounded-2xl shadow-lg mt-2" do |f| %>
  <% if @state_calendar.errors.any? %>
    <div class= "text-bold text-brown">
        <% @state_calendar.errors.full_messages.each do |message| %>
          <ul>
            <li><%= message %></li>
          </ul>
        <% end %>
    </div>
  <% end %>  
  <%= f.date_field :date, value: @state_calendar.date || Date.current, class: "text-dark-gray bg-matcha/30" %>
    <%= render 'form', f: f %>
  <div class="text-center">
    <%= f.submit "保存", class: "bg-blue/75 text-dark-gray py-2 px-6 rounded hover:bg-blue/30 transition duration-200 mt-2", data: { turbo: false } %>
  </div>
<% end %>

