<div class="container">
  <div class="flex justify-center">
    <div class="w-full max-w-lg">
      <h1 class="text-2xl text-matcha font-bold mb-6">
        <%= t("views.user.profile", name: @user.name) %>
      </h1>

      <div class="mb-4">
        <p class="text-matcha text-sm font-medium">
          <%= t("activerecord.attributes.user.name") %> :
          <span class="font-normal"><%= @user.name %></span>
        </p>
      </div>

      <div class="mb-6">
        <p class="text-matcha text-sm font-medium">
          <%= t("activerecord.attributes.user.email") %> :
          <span class="font-normal"><%= @user.email %></span>
        </p>
      </div>

      <div class="font-bold">
        <%= link_to t("views.user.edit"),
          edit_user_registration_path,
          class: "w-full mb-6 bg-matcha/75 hover:bg-blue/75 text-white text-sm font-bold py-2 px-4 rounded-md shadow-md transition"
        %>
      </div>

      <div class="mt-6">
        <%= link_to t("buttons.back"), :back, class: "text-matcha underline text-sm" %>
      </div>
    </div>
  </div>
</div>
