<div class="text-center text-2xl font-bold underline mt-4"><%= t("views.footer.terms_of_service") %></div>
<div class="flex justify-center mt-8">
  <div class="text-left max-w-2xl w-full">
    <p>
    <%= t("views.terms.consent.one") %>
    </p>
    <div class="font-bold mt-4"><%= t("views.terms.consent.two") %></div>
    <div class="pl-5">
      <p>
        <%= t("views.terms.consent.three") %>
      </p>
    </div>

    <div class="font-bold mt-4"><%= t("views.terms.registration.one") %></div>
    <div class="pl-5">
      <p>
        <%= t("views.terms.registration.two") %>
      </p>
      <ul class="list-disc pl-5 mt-2">
        <li><%= t("views.terms.registration.three") %></li>
      </ul>
    </div>

    <div class="font-bold mt-4"><%= t("views.terms.rejection.one") %></div>
    <div class="pl-5">
      <p>
      <%= t("views.terms.rejection.two") %>
      </p>
      <ul class="list-disc pl-5 mt-2">
        <li><%= t("views.terms.rejection.three") %></li>
        <li><%= t("views.terms.rejection.four") %></li>
        <li><%= t("views.terms.rejection.five") %></li>
      </ul>
    </div>

    <div class="font-bold mt-4"><%= t("views.terms.google.one") %></div>
    <div class="pl-5">
      <p>
        <%= t("views.terms.google.two") %>
      </p>
      <ul class="list-disc pl-5 mt-2">
        <li><%= t("views.terms.google.three") %></li>
        <li><%= t("views.terms.google.four") %></li>
        <li><%= t("views.terms.google.disconnect", link: link_to(t("views.terms.google.account_settings"), "https://myaccount.google.com/permissions", class: "text-matcha underline")).html_safe %></li>
      </ul>
    </div>

    <div class="font-bold mt-4"><%= t("views.terms.login_info.one") %></div>
    <div class="pl-5">
      <p>
        <%= t("views.terms.login_info.two") %>
      </p>
    </div>

    <div class="font-bold mt-4"><%= t("views.terms.late_fee.one") %></div>
    <div class="pl-5">
      <p>
        <%= t("views.terms.late_fee.two") %>
      </p>
    </div>

    <div class="font-bold mt-4"><%= t("views.terms.post.one") %></div>
    <div class="pl-5">
      <p>
      <%= t("views.terms.post.two") %><br><%= t("views.terms.post.three") %>
      </p>
      <ul class="list-disc pl-5 mt-2">
        <li><%= t("views.terms.post.four") %></li>
        <li><%= t("views.terms.post.five") %></li>
        <li><%= t("views.terms.post.six") %></li>
        <li><%= t("views.terms.post.seven") %></li>
        <li><%= t("views.terms.post.eight") %></li>
        <li><%= t("views.terms.post.nine") %></li>
        <li><%= t("views.terms.post.ten") %></li>
        <li><%= t("views.terms.post.eleven") %></li>
        <li><%= t("views.terms.post.twelve") %></li>
        <li><%= t("views.terms.post.thirteen") %></li>
        <li><%= t("views.terms.post.fourteen") %></li>
        <li><%= t("views.terms.post.fifteen") %></li>
        <li><%= t("views.terms.post.sixteen") %></li>
        <li><%= t("views.terms.post.seventeen") %></li>
      </ul>
    </div>

    <div class="font-bold mt-4"><%= t("views.terms.Prohibitions.one") %></div>
    <div class="pl-5">
      <p>
        <%= t("views.terms.Prohibitions.two") %>
      </p>
      <ul class="list-disc pl-5 mt-2">
        <li><%= t("views.terms.Prohibitions.three") %></li>
        <li><%= t("views.terms.Prohibitions.four") %></li>
        <li><%= t("views.terms.Prohibitions.five") %></li>
        <li><%= t("views.terms.Prohibitions.six") %></li>
        <li><%= t("views.terms.Prohibitions.seven") %></li>
        <li><%= t("views.terms.Prohibitions.eight") %></li>
        <li><%= t("views.terms.Prohibitions.nine") %></li>
        <li><%= t("views.terms.Prohibitions.ten") %></li>
        <li><%= t("views.terms.Prohibitions.eleven") %></li>
        <li><%= t("views.terms.Prohibitions.twelve") %></li>
        <li><%= t("views.terms.Prohibitions.thirteen") %></li>
        <li><%= t("views.terms.Prohibitions.fourteen") %></li>
        <li><%= t("views.terms.Prohibitions.fifteen") %></li>
        <li><%= t("views.terms.Prohibitions.sixteen") %></li>
        <li><%= t("views.terms.Prohibitions.seventeen") %></li>
        <li><%= t("views.terms.Prohibitions.eighteen") %></li>
        <li><%= t("views.terms.Prohibitions.nineteen") %></li>
        <li><%= t("views.terms.Prohibitions.twenty") %></li>
        <li><%= t("views.terms.Prohibitions.twenty_one") %></li>
        <li><%= t("views.terms.Prohibitions.twenty_two") %></li>
        <li><%= t("views.terms.Prohibitions.twenty_three") %></li>
        <li><%= t("views.terms.Prohibitions.twenty_four") %></li>
        <li><%= t("views.terms.Prohibitions.twenty_five") %></li>
        <li><%= t("views.terms.Prohibitions.twenty_six") %></li>
      </ul>
    </div>

    <div class="font-bold mt-4"><%= t("views.terms.money_trade.one") %></div>
    <div class="pl-5">
      <p>
      <%= t("views.terms.money_trade.two") %>
      </p>
      <ul class="list-disc pl-5 mt-2">
        <li><%= t("views.terms.money_trade.three") %></li>
        <li><%= t("views.terms.money_trade.four") %></li>
        <li><%= t("views.terms.money_trade.five") %></li>
      </ul>
    </div>

    <div class="font-bold mt-4"><%= t("views.terms.elimination.one") %></div>
    <div class="pl-5">
      <p>
        <%= t("views.terms.elimination.two") %>
      </p>
      <ul class="list-disc pl-5 mt-2">
        <li><%= t("views.terms.elimination.three") %></li>
        <li><%= t("views.terms.elimination.four") %></li>
        <li><%= t("views.terms.elimination.five") %></li>
        <li><%= t("views.terms.elimination.six") %></li>
        <li><%= t("views.terms.elimination.seven") %></li>
        <li><%= t("views.terms.elimination.eight") %></li>
      </ul>
      <p>
        <%= t("views.terms.elimination.nine") %>
      </p>
      <ul class="list-disc pl-5 mt-2">
        <li><%= t("views.terms.elimination.ten") %></li>
        <li><%= t("views.terms.elimination.eleven") %></li>
        <li><%= t("views.terms.elimination.twelve") %></li>
        <li><%= t("views.terms.elimination.thirteen") %></li>
        <li><%= t("views.terms.elimination.fourteen") %></li>
      </ul>
    </div>

    <div class="font-bold mt-4"><%= t("views.terms.restriction.one") %></div>
    <div class="pl-5">
      <p>
        <%= t("views.terms.restriction.two") %>
      </p>
      <ul class="list-disc pl-5 mt-2">
        <li><%= t("views.terms.restriction.three") %></li>
        <li><%= t("views.terms.restriction.four") %></li>
        <li><%= t("views.terms.restriction.five") %></li>
        <li><%= t("views.terms.restriction.six") %></li>
        <li><%= t("views.terms.restriction.seven") %></li>
        <li><%= t("views.terms.restriction.eight") %></li>
        <li><%= t("views.terms.restriction.nine") %></li>
      </ul>
    </div>

    <div class="font-bold mt-4"><%= t("views.terms.suspension_of_service.one") %></div>
    <div class="pl-5">
      <p>
      <%= t("views.terms.suspension_of_service.two") %>
      </p>
      <ul class="list-disc pl-5 mt-2">
        <li><%= t("views.terms.suspension_of_service.three") %></li>
        <li><%= t("views.terms.suspension_of_service.four") %></li>
        <li><%= t("views.terms.suspension_of_service.five") %></li>
        <li><%= t("views.terms.suspension_of_service.six") %></li>
      </ul>
    </div>

    <div class="font-bold mt-4"><%= t("views.terms.cancellation.one") %></div>
    <div class="pl-5">
      <p>
      <%= t("views.terms.cancellation.two") %>
      </p>
    </div>

    <div class="font-bold mt-4"><%= t("views.terms.not_guarantee.one") %></div>
    <div class="pl-5">
      <p>
      <%= t("views.terms.not_guarantee.two") %>
      </p>
    </div>

    <div class="font-bold mt-4"><%= t("views.terms.disclaimer.one") %></div>
    <div class="pl-5">
      <p>
      <%= t("views.terms.disclaimer.two") %>
      </p>
    </div>

    <div class="font-bold mt-4"><%= t("views.terms.change_services.one") %></div>
    <div class="pl-5">
      <p>
      <%= t("views.terms.change_services.two") %>
      </p>
    </div>

    <div class="font-bold mt-4"><%= t("views.terms.change_terms.one") %></div>
    <div class="pl-5">
      <p>
        <%= t("views.terms.change_terms.two") %>
      </p>
    </div>

    <div class="font-bold mt-4"><%= t("views.terms.personal_info.one") %></div>
    <div class="pl-5">
      <p>
      <%= t("views.terms.personal_info.two") %>
      </p>
    </div>

    <div class="font-bold mt-4"><%= t("views.terms.notice.one") %></div>
    <div class="pl-5">
      <p>
      <%= t("views.terms.notice.two") %>
      </p>  
    </div>

    <div class="font-bold mt-4"><%= t("views.terms.right.one") %></div>
    <div class="pl-5">
      <p>
      <%= t("views.terms.right.two") %>
      </p>
    </div>

    <div class="font-bold mt-4"><%= t("views.terms.business_transfer.one") %></div>
    <div class="pl-5">
      <p>
      <%= t("views.terms.business_transfer.two") %>
      </p>
    </div>

    <div class="font-bold mt-4"><%= t("views.terms.relation_adoption.one") %></div>
    <div class="pl-5">
      <p>
      <%= t("views.terms.relation_adoption.two") %>
      </p>
    </div>

    <div class="font-bold mt-4"><%= t("views.terms.possibility.one") %></div>
    <div class="pl-5">
      <p>
        <%= t("views.terms.possibility.two") %>
      </p>
    </div>

    <div class="font-bold mt-4"><%= t("views.terms.jurisdiction.one") %></div>
    <div class="pl-5">
      <p>
        <%= t("views.terms.jurisdiction.two") %>
      </p>
    </div>

    <div class="mt-4">
    <%= t("views.terms.date") %>
    </div>
  </div>
</div>