<h1 class="text-matcha-green text-xl font-bold mt-6"><%= t('views.calendar.calendar_name', name: @room.name) %></h1>

<!--%= button_to t('views.calendar.google_calendar'), import_room_calendars_path(@room), method: :post, class: "bg-blue/75 p-4 rounded shadow mb-4 mt-2 hover:bg-blue-30 transition text-dark-gray btn btn-primary", data: { turbo: false } %>-->

<div class="mb-4 mt-6">
  <strong><%= t('views.calendar.category_filter') %>：</strong>
  <%= link_to t('views.calendar.all'), room_calendars_path(@room), class: "mr-3 #{'text-matcha font-bold rounded bg-yellow' if params[:category].blank? && params[:visibility].blank? }" %>
  <%= link_to t('views.calendar.relax'), room_calendars_path(@room, category: 'relax'), class: "mr-3 #{'text-matcha font-bold rounded bg-yellow' if params[:category] == 'relax'}" %>
  <%= link_to t('views.calendar.work_study'), room_calendars_path(@room, category: 'work_study'), class: "mr-3 #{'text-matcha font-bold rounded bg-yellow' if params[:category] == 'work_study'}" %>
  <%= link_to t('views.calendar.event'), room_calendars_path(@room, category: 'event'), class: "#{'text-matcha font-bold rounded bg-yellow' if params[:category] == 'event'}" %>
  <% if current_user.calendars.exists?(visibility: 'personal') %>
    <%= link_to t('views.calendar.private'), room_calendars_path(@room, visibility: 'personal'), class: "#{'text-matcha font-bold rounded bg-yellow' if params[:visibility] == 'personal'}" %>
  <% end %>
</div>

<%= month_calendar(events: @calendars, attribute: :calendar_date) do |date, plans_on_day| %>
  <% if current_user %>
    <% if plans_on_day.present? %>
      <% calendar = plans_on_day.find { |s| s.user_id == current_user.id } %>
      <% if calendar %>
        <%= link_to date.day, edit_room_calendar_path(@room, calendar, date: date), class: "block w-full h-full text-center", data: { turbo: false } %>
      <% else %>
        <%= link_to date.day, new_room_calendar_path(@room, date: date), class: "block w-full h-full text-center", data: { turbo: false } %>
      <% end %>
    <% else %>
      <%= link_to date.day, new_room_calendar_path(@room, date: date), class: "block w-full h-full text-center", data: { turbo: false } %>
    <% end %>
  <% else %>
    <span><%= date.day %></span>
  <% end %>

  <% plans_on_day.each do |plan| %>
    <% next unless plan.start_time.to_date == date %>

    <% if plan.user == current_user && plan.visibility != 'personal' && params[:visibility] == 'personal' %>
      <% next %>
    <% end %>

    <% css_class = case plan.category
      when "relax" then "bg-yellow"
      when "work_study" then "bg-pink-red/75"
      else "bg-matcha-green/50"
    end %>

    <% duration_days = (plan.end_time.to_date - plan.start_time.to_date).to_i + 1 %>

    <div class="text-xs leading-tight text-center">
      <% if plan.user == current_user %>
        <span class="inline-block px-0.5 py-0.5 rounded <%= css_class %>"><%= plan.name %></span>
      <% else %>
        <%= link_to room_calendar_path(@room, plan), class: "inline-block px-0.5 py-0.5 rounded #{css_class}" do %>
          <%= plan.name %>
        <% end %>
      <% end %>
      <% if plan.start_time.to_date != plan.end_time.to_date %>
        <div class="text-[10px] text-matcha">
          <%= l(plan.start_time.to_date, format: :short) %>-<%= l(plan.end_time.to_date, format: :short) %>（<%= "#{duration_days}日" %>）
        </div>
      <% end %>
        <span class="text-gray-600 text-[10px] block"><%= plan.user.name %></span>
    </div>
  <% end %>
<% end %>

<%= link_to t("views.room.back_to_room", room_name: @room.name), room_path(@room), class: "bg-brown/30 p-2 rounded shadow mb-2 mt-4 text-brown font-bold hover:bg-brown/70 transition", data: { turbo: false } %>

<%= link_to t("buttons.add_today"), new_room_calendar_path(@room), class: "bg-blue/75 p-4 rounded shadow mb-4 mt-2 hover:bg-blue-30 transition text-dark-gray", data: { turbo: false } %>
