<div class="bg-white shadow z-50 p-4 fixed top-[260px] left-4 w-[200px] h-[300px] overflow-y-auto">
  <% if @whiteboards.empty? %>
    <p class="text-dark-gray text-center text-sm">伝言はまだありません</p>
  <% else %>
    <% @whiteboards.each do |board| %>
      <div class="mb-4 border-b border-gray-200 pb-2 text-sm text-dark-gray">
        <% if board.user == current_user %>
            <div
                data-controller="board"
                data-board-room-id-value="<%= @room.id %>"
                data-board-target="board"
                data-action="keydown->board#insertBreak input->board#save"
                contenteditable="true"
                class="whitespace-pre-wrap focus:outline-none min-h-[40px]"
            >
            <%= h(board.body || "") %>
            </div>
        <% else %>
          <%= board.body %>
        <% end %>
        <div class= "flex text-matcha font-bold" >
          <h1>＜<%= board.user.name %>＞</h1>
          <%= board.updated_at.strftime("%m月%d日") %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
