<div class="bg-white/65 shadow z-40 p-4 fixed top-[250px] left-4 w-[150px] h-[200px] md:w-[350px] md:h-[300px] overflow-y-auto">
  <% if @whiteboards.empty? %>
    <p class="text-dark-gray text-center text-sm">伝言はまだありません</p>
  <% else %>
    <% @whiteboards.each do |board| %>
      <div class="mb-4 border-b border-gray-200 pb-2 text-sm text-dark-gray md:text-md">
        <% if board.user == current_user %>
            <div
                data-controller="board"
                data-board-room-id-value="<%= @room.id %>"
                data-board-target="board"
                data-action="keydown->board#insertBreak input->board#save"
                contenteditable="true"
                data-placeholder="ここに入力してください"
                class="whitespace-pre-wrap focus:outline-none min-h-[40px]"
            >
            <%= h(board.body || "") %>
            </div>
        <% else %>
          <%= board.body %>
        <% end %>
        <div class= "flex text-matcha font-bold" >
          <h1><%= board.user.name %></h1>
          (<%= board.updated_at.strftime('%y/%m/%d %H:%M') %>)
        </div>
      </div>
    <% end %>
  <% end %>
</div>
