<%= form_with model: @room, url: rooms_path, remote: true do |f| %>
  <% if @room.errors.any? %>
    <div class= "text-bold text-brown">
        <ul class="list-disc pl-5">
          <% @room.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
    </div>
  <% end %> 
  <div class="bg-light-gray p-4 rounded shadow mb-2 max-w-md mx-auto md:flex md:items-center md:justify-center z-50">
    <div class="w-full space-y-4">
      <%= f.label :name, t("views.room.house_name"), class: "text-sm text-dark-gray" %>
      <%= f.text_field :name, placeholder: t("views.room.new"), class: "bg-light-gray w-full p-2 border rounded text-gray" %>
      <div class="flex justify-center">
        <%= f.submit t("buttons.register"), class: "bg-beige text-matcha px-4 py-2 mt-2 rounded hover:bg-light-blue/80 transition" %>
      </div>
    </div>
  </div>
<% end %>

