<% if @area.nil? %>
  <p>お住まいの地域が登録されていません</p>
<% else %>
  <p><%= @area.city %></p>
  <% if @weather_record.nil? %>
    <%= button_to "天気を取得する", weather_records_path(area_id: @area.id, room_id: @room.id), method: :post, data: { turbo: false } %>
  <% else %>
    <%= button_to "天気を更新する", weather_record_path(@weather_record, area_id: @area.id, room_id: @room.id), method: :patch, data: { turbo: false } %>
  <% end %>

  <% if @weather_record %>
    <p>天気: <%= @weather_record.description %></p>
    <p>気温：<%= @weather_record.temperature %>℃</p>
  <% else %>
    <p>天気情報はまだありません</p>
  <% end %>
<% end %>