<% if @roommates.present? %>
  <div class="fixed top-[80px] md:top-[75px] left-0 z-50 bg-white/65 rounded-lg md:p-2 shadow-md">
  <% @roommates.each do |user| %>
    <div class="weather flex text-sm md:text-lg md:space-x-2 border border-light-gray rounded">
      <h3><%= user.name %></h3>
      <% if user.area.nil? %>
        <p>玄関で地域を登録してね</p>
      <% else %>
        <p><i class="fa-solid fa-location-pin text-red-500"></i> <%= user.area.city %></p>

        <% weather_record = user.area.weather_record %>

        <% if weather_record.nil? %>
          <%= button_to "取得", weather_records_path(area_id: user.area.id, room_id: @room.id), method: :post, data: { turbo: false } %>
        <% else %>
          <% color_class =
            if weather_record.description.include?("晴")
              "text-orange-500/75 font-bold"
            elsif weather_record.description.include?("雨")
              "text-matcha font-bold"
            else
              "text-gray font-bold"
            end
          %>
          <p class="<%= color_class %>"><%= weather_record.description %></p>
          <p class="<%= color_class %>"><%= weather_record.temperature %>℃</p>
          <% if weather_record.created_at == weather_record.updated_at %>
            <p><i class="fa-solid fa-clock text-matcha-green/75"></i> <%= weather_record.created_at.strftime('%m/%d %H:%M') %></p>
          <% else %>
            <p><i class="fa-solid fa-clock text-matcha-green/75"></i> <%= weather_record.updated_at.strftime('%m/%d %H:%M') %></p>
          <% end %>
          <%= button_to "更新", weather_record_path(weather_record, area_id: user.area.id, room_id: @room.id), method: :patch, data: { turbo: false }, class: "text-blue underline font-bold" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  </div>
<% else %>
  <div class="fixed top-[80px] md:top-[75px] left-0 z-50 bg-white/75 rounded-lg shadow-md">
    <div class="weather flex space-x-2 text-sm md:text-lg px-2 py-1 border border-light-gray rounded">
    <h3><%= current_user.name %></h3>

    <% if current_user.area.nil? %>
      <p>玄関で地域を登録してね</p>
    <% else %>
      <p><i class="fa-solid fa-location-pin text-red-500"></i> <%= current_user.area.city %></p>

      <% weather_record = current_user.area.weather_record %>

      <% if weather_record.nil? %>
          <%= button_to "取得", weather_records_path(area_id: user.area.id, room_id: @room.id), method: :post, data: { turbo: false } %>
        <% else %>
          <% color_class =
            if weather_record.description.include?("晴")
              "text-orange-500 font-bold"
            elsif weather_record.description.include?("曇") || weather_record.description.include?("雨") || weather_record.description.include?("雲")
              "text-matcha font-bold"
            else
              "text-gray-700 font-bold"
            end
          %>
          <p class="<%= color_class %>"><%= weather_record.description %></p>
          <p class="<%= color_class %>"><%= weather_record.temperature %>℃</p>
          <% if weather_record.created_at == weather_record.updated_at %>
            <p><i class="fa-solid fa-clock text-matcha-green/75"></i> <%= weather_record.created_at.strftime('%m/%d %H:%M') %></p>
          <% else %>
            <p><i class="fa-solid fa-clock text-matcha-green/75"></i> <%= weather_record.updated_at.strftime('%m/%d %H:%M') %></p>
          <% end %>
          <%= button_to "更新", weather_record_path(
                weather_record,
                area_id: (defined?(user) ? user.area.id : current_user.area.id),
                room_id: @room.id
              ),
              method: :patch,
              data: { turbo: false },
              class: "text-blue underline font-bold"
          %>
      <% end %>
    <% end %>
    </div>
  </div>
<% end %>
