<div class="container">
  <div class="fixed inset-0 z-30 flex items-center justify-center px-4 pointer-events-none">
    <div class="pointer-events-auto flex flex-col lg:flex-row justify-center items-start gap-6 max-w-7xl w-full">
      <% if @rooms.empty? %>
        <div class="pointer-events-auto flex flex-col justify-center items-center gap-6 max-w-4xl w-full mx-auto">
          <div class="text-gray text-center text-lg"><%= t("flash.room.no_room") %></div>
          <div class="max-w-xl w-full">
            <%= render 'form_room' %>
          </div>
        </div>
      <% else %>
        <%= render 'room' %>
      <% end %>
      <div id="room-form" class="fixed inset-0 z-40 bg-black/30 flex items-center justify-center hidden">
        <div class="bg-white p-6 rounded-xl shadow-xl max-w-md w-11/12 relative">
          <%= link_to "×", rooms_path, class: "absolute top-2 right-4 text-xl" %>
          <%= render 'form_room' %>
        </div>
      </div>

      <% if @area.nil? %>
        <p class="text-dark-gray text-center text-lg"><%= t("flash.room.no_area") %></p>
        <%= render 'form_area' %>
      <% else %>
        <%= render 'area' %>
      <% end %>
    </div>
  </div>
</div>

<div class="fixed inset-0 z-10">
  <canvas id="three-canvas" class="w-full h-full block"></canvas>
</div>

<%= javascript_include_tag "door" %>
