<div class="container mx-auto px-4 ">
  <% if @rooms.empty? %>
    <p class="text-gray text-center text-lg">登録部屋はまだありません</p>
    <div class="max-w-xl mx-auto">
        <%= render 'form_room' %>
    </div>
  <% else %>
    <%= render 'room' %>
  <% end %>
  <div class="text-center mt-4">
    <%= button_to '<i class="fa-solid fa-plus text-gray/50"></i>'.html_safe, rooms_path, id: "room-form-button", method: :post, class: "text-3xl" %>
  </div>
  <div id="room-form" class="hidden mt-4">
    <%= render 'form_room' %>
  </div>
  <% if @area.nil? %>
    <p class="text-dark-gray text-center text-lg">お住まいの地域が登録されていません</p>
    <%= render 'form_area' %>
  <% else %>
    <%= render 'area' %>
  <% end %>
</div>
