<div class="container fixed top-[100px] left-1/2 transform -translate-x-1/2 z-30 mx-auto px-4 ">
  <% if @rooms.empty? %>
    <p class="text-gray text-center text-lg"><%= t("flash.room.no_room") %></p>
    <div class="max-w-xl mx-auto">
        <%= render 'form_room' %>
    </div>
  <% else %>
    <%= render 'room' %>
  <% end %>
  <div id="room-form" class="hidden mt-4 absolute top-[0px] left-[272px]">
    <%= render 'form_room' %>
  </div>
  <% if @area.nil? %>
    <p class="text-dark-gray text-center text-lg"><%= t("flash.room.no_area") %></p>
    <%= render 'form_area' %>
  <% else %>
    <%= render 'area' %>
  <% end %>
</div>

<div class="relative w-full h-[calc(100vh-112px)] overflow-hidden">
  <canvas id="three-canvas" class="w-full h-full block"></canvas>
</div>

<%= javascript_include_tag "door" %>
