<% content_for :main_class, "relative w-full flex flex-col mt-16 flex-1" %>
<div class="fixed top-[80px] left-1/2 transform -translate-x-1/2 z-50 p-4">
  <div class="text-matcha text-center text-2xl font-bold rounded-lg shadow-md p-4">
    <%= @room.name %><i class="fa-solid fa-house-user"></i>
  </div>
</div>
<%= render 'weather' %>
<%= render 'board' %>
<%= link_to 'カレンダー一覧', room_state_calendars_path(@room),
    class: "btn-invitation inline-block px-2 py-2 bg-blue/75 text-dark-gray rounded hover:bg-blue/30 transition",
    style: "position:fixed;top:170px;right:10px;z-index:9999;" 
%>
<!--%= render 'calendar' %>-->
<% if @room.user_id == current_user.id %>
    <%= link_to "同居人を招待する", room_invitation_tokens_path(@room),
        class: "btn-invitation inline-block px-2 py-2 bg-matcha/75 text-dark-gray rounded hover:bg-matcha/30 transition",
        style: "position:fixed;top:70px;left:10px;z-index:9999;"
    %>
<% end %>

<%= render 'greeting' %>
<%= link_to "交換日記", room_exchange_diaries_path(@room),
    class: "btn-exchange inline-block px-4 py-2 bg-matcha/75 text-dark-gray rounded hover:bg-matcha/30 transition",
    style: "position:fixed;top:70px;right:10px;z-index:9999;",
    id: "open-book",
    data: { room_path: room_exchange_diaries_path(@room) }
%>
<%= link_to "秘密基地", room_spots_path(@room),
    class: "btn-spot inline-block px-4 py-2 bg-matcha/75 text-dark-gray rounded hover:bg-matcha/30 transition",
    style: "position:fixed;top:120px;right:10px;z-index:9999;",
    id: "open-door",
    data: { room_path: room_spots_path(@room)}
%>
<%= link_to "おかえり/ただいまメッセージ管理", room_greetings_path(@room),
    class: "btn-message inline-block px-4 py-2 bg-brown/75 text-dark-gray rounded hover:bg-brown/30 transition",
    style: "position:fixed;top:600px;right:10px;z-index:9999;"
%>

<% if mobile_device? %>
  <%= image_tag '/room_top2.png' %>
<% else %>
  <%= render 'home' %>
<% end %>
