<div class="text-matcha text-2xl font-bold rounded-lg shadow-md p-4">
  <p>
    <%= @room.name %> <i class="fa-solid fa-house-user text-light-blue"></i>
  </p>
</div>
<%= render 'weather' %>
<%= render 'form_board' %>
<%= render 'board' %>
<%= link_to "交換日記", room_exchange_diaries_path(@room) %>
<div class="flex">
  <%= render 'calendar' %>
  <%= link_to 'カレンダー一覧', room_state_calendars_path(@room) %>
</div>
<%= link_to "招待コード", room_invitation_tokens_path(@room) %>
<%= link_to "messages", room_greetings_path(@room) %>
<%= link_to "場所", room_spots_path(@room) %>

<%= render 'greeting' %>
