<% content_for :main_class, "relative w-full flex flex-col mt-0" %>
<div class="fixed top-[25px] md:top-[60px] left-1/2 transform -translate-x-1/2 z-50 p-4">
  <div class="text-matcha text-center text-md md:text-2xl font-bold rounded-lg shadow-md p-2">
    <%= @room.name %><i class="fa-solid fa-house-user"></i>
  </div>
</div>
<%= render 'weather' %>
<%= render 'board' %>
<%= link_to t('activerecord.attributes.room_show.state'), room_state_calendars_path(@room),
    class: "btn-calendar fixed top-[400px] md:top-[250px] right-0 z-50 inline-block px-2 py-2 bg-blue/75 text-beige text-md md:text-xl rounded hover:bg-matcha/30 transition",
    data: { turbo: false }
%>
<!--%= render 'calendar' %>-->
<% if @room.user_id == current_user.id %>
    <%= link_to t('activerecord.attributes.room_show.invitation'), room_invitation_tokens_path(@room),
        class: "btn-exchange fixed top-[250px] md:top-[100px] right-0 z-50 inline-block px-2 py-2 bg-matcha-green/75 text-beige text-md md:text-xl rounded hover:bg-matcha/30 transition",
        data: { turbo: false }
    %>
<% end %>

<%= render 'greeting' %>
<%= link_to t('activerecord.attributes.room_show.diary'), room_exchange_diaries_path(@room),
    class: "btn-exchange fixed top-[300px] md:top-[150px] right-0 z-50 inline-block px-2 py-2 bg-matcha/30 text-beige text-md md:text-xl rounded hover:bg-blue/30 transition",
    id: "open-book",
    data: { room_path: room_exchange_diaries_path(@room), turbo: false }
%>
<%= link_to t('activerecord.attributes.room_show.place'), room_spots_path(@room),
    class: "btn-spot fixed top-[350px] md:top-[200px] right-0 z-50 inline-block px-2 py-2 bg-matcha/30 text-beige text-md md:text-xl rounded hover:bg-blue/30 transition",
    id: "open-door",
    data: { room_path: room_spots_path(@room), turbo: false }
%>
<%= link_to t('activerecord.attributes.room_show.message'), room_greetings_path(@room),
    class: "btn-message fixed top-[480px] md:top-[600px] right-0 z-50 inline-block px-2 py-2 bg-matcha-green/65 text-beige text-md md:text-xl rounded hover:bg-matcha/30 transition",
    data: { turbo: false }
%>

<% if mobile_device? %>
  <%= image_tag '/gif.gif' %>
<% else %>
  <%= render 'home' %>
  <div id="loading-screen" style="position:absolute; top:0; left:0; width:100%; height:100%; background:yellow/30; z-index:10; display:flex; align-items:center; justify-content:center; pointer-events:none;">
    <div class="text-center text-matcha text-2xl animate-bounce font-bold">
      <%= t('activerecord.attributes.room_show.cleaning') %>...🧹
    </div>
  </div>
<% end %>
