<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <% flash.each do |key, message| %>
      <% text_color = key == "notice" ? "text-matcha" : "text-red-500" %>
      <div class="flash <%= key %> <%= text_color %> font-semibold">
        <%= message %>
      </div>
    <% end %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <!-- stylesheet_link_tag :app, "data-turbo-track": "reload" %>-->
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>

    <!-- 補助ローダーやコントロール（非モジュール版） -->
    <script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/loaders/DRACOLoader.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/loaders/GLTFLoader.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/controls/OrbitControls.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.11.4/dist/gsap.min.js"></script>

    <script src="https://kit.fontawesome.com/3e9d8d532b.js" crossorigin="anonymous"></script>
  </head>

  <body class="flex flex-col min-h-screen bg-beige">
    <% if user_signed_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <main class="<%= content_for?(:main_class) ? yield(:main_class) : 'container mx-auto flex-1 flex flex-col justify-center items-center' %>">
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
